:host ::ng-deep .mat-radio-container{
    height: 30px;
    width: 30px;
  }
  :host ::ng-deep .mat-radio-outer-circle{
    height: 30px;
    width: 30px;
  }
  :host ::ng-deep .mat-radio-inner-circle{
    height: 30px;
    width: 30px;
  }
  :host ::ng-deep .mat-radio-button .mat-radio-ripple{
    height: 60px; 
    width: 60px;  
    left: calc(50% - 30px);
    top: calc(50% - 30px);
  }
  
  h2 {
      padding-left: 195px;
  }

  ul {
    list-style-type: none;
  }
  
  .grid-container {
    margin-left: 155px;
    display: grid;
    grid: repeat(2, 350px) / auto-flow 345px;
  }
  
  .example-card {
    width: 310px;
    height: 310px;
    position: relative;
    border: 1px solid;
    color: gray;
    overflow: hidden;

}

.selector {
    padding-left: 20px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
    .example-card-content {
      display: flex;
    }
  
    .card-header {
      max-width: 80%;
      max-height: 20px;
      padding-top: 30px;
      padding-left: 20px;
      font-size: 14pt;
      font-weight: 600;
      word-wrap: break-word;
    }

    .card-body {
      max-width: 80%;
      padding-top: 15%;
      padding-left: 20px;
      font-size: 12pt;
      word-wrap: break-word;
    }