.example-card {
    
  }
  
  .example-header {
      margin-left: -32px !important;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  h2 {
      padding-left: 195px;
  }