<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DG20 TOC</mat-card-title>
      <mat-card-subtitle>2019 Volkswagen, Tiguan SE Nav 4Motion TSI 150 DSG Line...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="example-card-content">
      <p><b>Policy number:</b><br>AOL123456789</p>
      <p><b>Starts:</b><br>22/12/2020 00:00</p>
      <p><b>Ends:</b><br>21/12/2020 23:59</p>
    </mat-card-content>
  </mat-card>